.dockerignore
.gitignore
.github/
*.md
.env
.venv/
.vscode
TEMP/
logs/
docs/
src/tests/
configs/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo

dev-requirements.*
